<!DOCTYPE html>
<html>
    <head>
        <title>
            Mapbox 3
        </title>
        <!--<script src="https://threejs.org/build/three.min.js"></script>-->
        <!--<script src="https://unpkg.com/three@0.106.2/examples/js/loaders/GLTFLoader.js"></script>-->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.2/dat.gui.min.js"></script>-->
        <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet'/>
        <script src="../static/assets/js/threebox.js"></script>
        <script src="js/three.min.js"></script>

        <style>
            body{
                overflow: hidden;
                margin: 0;
                }
        </style>
    </head>

    <body>
        <!--<script src="https://unpkg.com/three@0.106.2/build/three.min.js"></script>-->
        <script src="https://unpkg.com/three@0.106.2/build/three.min.js"></script>
        <script src="https://unpkg.com/three@0.106.2/examples/js/loaders/GLTFLoader.js"></script>
        <script src="https://unpkg.com/@antv/l7"></script>
        <div id='map' style="height: 800px; width: 1000px;"></div>

        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidGVqYXMyMDAwIiwiYSI6ImNrbDVhdnZmcDI0ZXYyc3FvNDN2c2I1eW0ifQ.qBCt-xKnG1nCx7ibUcIOcg';
        var map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/dark-v10', // style URL
        center: [72.90486907, 19.03731134], // starting position [lng, lat]
        zoom: 14 // starting zoom
        });
        var origin = [72.90486907, 19.03731134];
        var newOrigin = [[72.90486907, 19.03731134],[72.93478977, 19.04777195],[72.88858949, 19.03881801],
                        [72.93770344, 19.05565485],[72.89641867, 19.06860634],[72.91014040248443,19.067425595326053],
                        [72.89627998604604,	19.032984642957693], [72.93666660551358,	19.035647327735308]];
        //var aqi = [324,300,420,243,260];
        var aqi = [220, 100, 200, 175, 250,200, 56, 200]
        for (let k = 0; k<aqi.length;k++){
          aqi[k] = aqi[k]%(255-0+1) + 0;
          console.log(aqi[k])
        }
        

        map.on('style.load', function(){
          
          map.addLayer({
            id: "custom_layer",
            type: 'custom',
            onAdd: function(map, mbxContext){
              tb = new Threebox(
              map, 
              mbxContext,
              {defaultLights: true}
              );

              var heatVertex = `
                uniform sampler2D heightMap;
                uniform float heightRatio;
                varying vec2 vUv;
                varying float hValue;
                void main() {
                  vUv = uv;
                  vec3 pos = position;
                  hValue = texture2D(heightMap, vUv).r;
                  pos.y = hValue * heightRatio;
                  gl_Position = projectionMatrix * modelViewMatrix * vec4(pos,1.0);
                }
              `;
              
              var heatFragment = `
                varying float hValue;
                
                // honestly stolen from https://www.shadertoy.com/view/4dsSzr
                vec3 heatmapGradient(float t) {
                  return clamp((pow(t, 1.5) * 0.8 + 0.2) * vec3(smoothstep(0.0, 0.35, t) + t * 0.5, smoothstep(0.5, 1.0, t), max(1.0 - t * 1.7, t * 7.0 - 6.0)), 0.0, 1.0);
                }

                void main() {
                  float v = abs(hValue - 1.);
                  gl_FragColor = vec4(heatmapGradient(hValue), 1. - v * v) ;
                }
              `;
                      
              var heightMap = createHeightMap();
              console.log(heightMap);
              function createHeightMap(){
                var canvas = document.createElement("canvas");
                canvas.width = 256;
                canvas.height = 256;
                var ctx = canvas.getContext("2d");
                ctx.fillStyle = "black";
                ctx.fillRect(0, 0, 256, 256);
                for(let i = 0; i < 100; i++){
                    var x = Math.floor(Math.random()*255);
                    var y = Math.floor(Math.random()*255);
                    var radius = 50;
                    var grd = ctx.createRadialGradient(x, y, 1, x, y, radius);
                    var h8 = Math.floor(20);
                    grd.addColorStop(0, "rgb("+ h8 + "," + h8 + "," + h8 +")");
                    //grd.addColorStop(1, "green");
                    grd.addColorStop(1, "transparent");
                    ctx.fillStyle = grd;
                    ctx.fillRect(0, 0, 256, 256);
                }
                //Mahul, Tilak nagar, Chembur,Govandi, ,Anu, Mankhurd, 
                var tempx = [210, 190, 150, 90, 70, 20, 176,90]
                //var tempy = [60,200,160,100,160]
                var tempy = [60,220,170,190,120,200, 100, 23]

                for (let j = 0; j<newOrigin.length; j++){
                  x = tempx[j];
                  y = tempy[j];
                  radius = 35;
                  grd = ctx.createRadialGradient(x, y, 1, x, y, radius);
                  h8 = aqi[j];
                  grd.addColorStop(0, "rgb("+ h8 + "," + h8 + "," + h8 +")");
                  grd.addColorStop(1, 'transparent');
                  ctx.fillStyle = grd;
                  ctx.fillRect(0, 0, 256, 256);

                }
                return new THREE.CanvasTexture(canvas);
              }

              /**var camera = new THREE.PerspectiveCamera(60, window.innerWidth / window.innerHeight, 1, 1000);
              camera.position.set(21, 34, 55);
              var renderer = new THREE.WebGLRenderer({antialias: true});
              renderer.setSize(window.innerWidth, window.innerHeight);
              document.body.appendChild(renderer.domElement);
              var controls = new THREE.OrbitControls(camera, renderer.domElement);*/
              

                  var planeGeometry = new THREE.PlaneBufferGeometry(190, 200, 1000, 100);
                  planeGeometry.rotateX(-Math.PI*0.5);

                  var heat = new THREE.Mesh(planeGeometry, new THREE.ShaderMaterial({
                  uniforms: {
                      heightMap: {value: heightMap},
                      heightRatio: {value: 10}
                  },
                  vertexShader: heatVertex,
                  fragmentShader: heatFragment,
                  transparent: true
                  }));

                  heat.rotateX(Math.PI*0.5)
                  heat = tb.Object3D({obj: heat})
                          .setCoords(origin)

                  tb.add(heat);

                  //var gui = new dat.GUI();
                  //gui.add(heat.material.uniforms.heightRatio, "value", 1, 15).name("heightRatio")
            
            },

            render: function(gl, matrix){
        tb.update();
    }       
          });
              
        });


        map.on('load', function () {
        // Insert the layer beneath any symbol layer.
        var layers = map.getStyle().layers;

        var labelLayerId;
        for (var i = 0; i < layers.length; i++) {
            if (layers[i].type === 'symbol' && layers[i].layout['text-field']) {
                labelLayerId = layers[i].id;
                break;
            }
        }

        map.addLayer(
            {
                'id': '3d-buildings',
                'source': 'composite',
                'source-layer': 'building',
                'filter': ['==', 'extrude', 'true'],
                'type': 'fill-extrusion',
                'minzoom': 15,
                'paint': {
                    'fill-extrusion-color': '#aaa',

                    // use an 'interpolate' expression to add a smooth transition effect to the
                    // buildings as the user zooms in
                    'fill-extrusion-height': [
                        'interpolate',
                        ['linear'],
                        ['zoom'],
                        15,
                        0,
                        15.05,
                        ['get', 'height']
                    ],
                    'fill-extrusion-base': [
                        'interpolate',
                        ['linear'],
                        ['zoom'],
                        15,
                        0,
                        15.05,
                        ['get', 'min_height']
                    ],
                    'fill-extrusion-opacity': 1
                }
            },
            labelLayerId
        );
        
    });

    var popup = new mapboxgl.Popup({
              closeButton: false,
              closeOnClick: false
            });
              
              
              map.on('mouseenter', 'custom_layer', function () {
              // Change the cursor style as a UI indicator.
              map.getCanvas().style.cursor = 'pointer';
              
              //var coordinates = e.features[0].geometry.coordinates.slice();
              //var description = e.features[0].properties.description;
              
                var coordinates = newOrigin;
                var description = "aqi";
                console.log(coordinates);
                console.log(description);

              // Ensure that if the map is zoomed out such that multiple
              // copies of the feature are visible, the popup appears
              // over the copy being pointed to.
              /* while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
              coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
              } */
              
              // Populate the popup and set its coordinates
              // based on the feature found.
              popup.setLngLat(coordinates).setHTML(description).addTo(map);
              });
              
              map.on('mouseleave', 'custom_layer', function () {
              map.getCanvas().style.cursor = '';
              popup.remove();
              });
		
        
		

        </script>
    </body>
</html>